@import "./todomvc";

.new-todo-container{
  .new-todo-input {
    @extend .new-todo;
    height: 4rem;
  }
}

.edit-todo-container{
  .edit-todo-input {
    @extend .edit;
  }
}

.rbc-resultlist-container {
  .rbc-resultlist-scroll-container {
    .rbc-resultlist-item__details {
      width: 100%;

      label {
        margin-left: 0.3rem;
      }
    }
  }
}

.footer {
  .rbc-btn {
    // display: inline;
    @extend .filters;
    position: relative;
    text-transform: capitalize;
  }
}

.rbc-poweredby {
  display: none;
}
